<?xml version="1.0"?>
<xacro xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

<xacro:pioneer_model robot_id="1"  position="2 0 0.3 0 0 0" />
<xacro:pioneer_model robot_id="2"  position="3 -11 0.3 0 0 0" />
<xacro:pioneer_model robot_id="3"  position="17 -16 0.3 0 0 -3.1415" />
<xacro:pioneer_model robot_id="4"  position="3 0 0.3 0 0 0" />

</xacro>