<?xml version="1.0"?>
<xacro xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

<xacro:pioneer_model robot_id="1"  position="1 1 0.3 0 0 0" />
<xacro:pioneer_model robot_id="2"  position="2 1 0.3 0 0 0" />
<xacro:pioneer_model robot_id="3"  position="3 1 0.3 0 0 0" />
<xacro:pioneer_model robot_id="4"  position="1 2 0.3 0 0 0" />
<xacro:pioneer_model robot_id="5"  position="2 2 0.3 0 0 0" />
<xacro:pioneer_model robot_id="6"  position="3 2 0.3 0 0 0" />
<xacro:pioneer_model robot_id="7"  position="1 3 0.3 0 0 0" />
<xacro:pioneer_model robot_id="8"  position="2 3 0.3 0 0 0" />
<xacro:pioneer_model robot_id="9"  position="3 3 0.3 0 0 0" />

</xacro>